body {
  padding: 0;
  margin: 0;
}

header{
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  padding: 20px;
}

header nav ul li {
  display: inline-block;
  margin-right: 10px;
}

main{
  min-height: 400px;
  padding: 20px;
}

footer{
  padding: 20px;
  background-color: aliceblue;
}

thead{background-color: aliceblue;}
th{text-align: left;}